{{define "content"}}
<form id="chart-setup" class="m--1 g--6" action="{{.Action}}" method="get">
  <input type="hidden" name="from-setup" value="true"/>
  <ul>
    {{range $key, $value := .Inputs}}
    <input type="checkbox" name="source" value="{{$value.Value}}" key="{{$value.Key}}"/><label class="checkbox"><a href="{{$value.Setup}}">{{$key}}</a></label><br/>
    {{end}}
  </ul>

  <ul>
    <input type="radio" name="summarize" value="0" checked="checked"/><label>0 minute summary</label><br/>
    <input type="radio" name="summarize" value="10"/><label>10 minute summary</label><br/>
    <input type="radio" name="summarize" value="30"/><label>30 minute summary</label><br/>
    <input type="radio" name="summarize" value="60"/><label>60 minute summary</label><br/>
  </ul>

  <ul>
    {{range .Spans}}
    {{if eq . "hour"}}
    <input type="radio" name="span" value="{{.}}" checked="checked"/><label>{{.}}</label><br/>
    {{else}}
    <input type="radio" name="span" value="{{.}}"/><label>{{.}}</label><br/>
    {{end}}
    {{ end }}
  </ul>
  <button type="submit" onClick="checkBinary()" class="btn--raised btn--green">Submit</button>
</form>
<script>
  {{template "chart-setup-js" .}}
</script>
{{end}}
