{{define "content"}}
<div class="m--1">
  <form id="gadget-form" action="/admin/gadgets/{{.Gadget.Id}}" method="post">
    <input id="name" name="name" type="text" required placeholder="Name" value="{{.Gadget.Name}}"/>
    <input id="host" name="host" type="text" required placeholder="Host" value="{{.Gadget.Host}}"/>
    <div class="nudge--down">
      <h5>View</h5>
      {{if eq .Gadget.View "furnace"}}
      <input name="view" type="radio" value="default" placeholder="View"/><label>Default</label></br>
      <input name="view" type="radio" value="furnace" placeholder="View" checked="checked"/><label>Furnace</label></br>
      {{else}}
      <input name="view" type="radio" value="default" placeholder="View" checked="checked"/><label>Default</label></br>
      <input name="view" type="radio" value="furnace" placeholder="View"/><label>Furnace</label></br>
      {{end}}
    </div>
    <br/>
    <div class="nudge--down">
      {{if .Gadget.Disabled}}
      <input name="disabled" type="checkbox" placeholder="Disabled" checked="checked"/><label class="checkbox" for="disabled">Disabled</label>
      {{else}}
      <input for="disabled"name="disabled" type="checkbox" placeholder="Disabled"/><label class="checkbox" for="disabled">Disabled</label>
      {{end}}
    </div>
    <br/>
    <div class="nudge--down">
      <button type="submit" class="btn--raised btn--green nudge--down">Submit</button>
      <button type="submit" onClick="setAction('delete')" class="btn--raised btn--green nudge--down">Delete</button>
      <button type="submit" onClick="setAction('cancel')" class="btn--raised btn--green nudge--down">Cancel</button>
    </div>
  </form>
</div>
<script>
  {{template "edit-gadget-js" .}}
</script>
{{end}}
