{{define "content"}}
<div class="g--12">
  <form id="furnace-control" class="m--1 g--10">
    <h1>{{.Gadget.Name}}</h1>
    <input onChange="updateState()" type="radio" name="state" value="heat" id="furnace-heat"/>
    <label id="heat-label">Heat</label>
    <br/>
    <input onChange="updateState()" type="radio" name="state" value="cool" id="furnace-cool"/>
    <label id="cool-label">Cool</label>
    <br/>
    <input onChange="updateState()" type="radio" name="state" value="off" id="furnace-off"/>
    <label>Off</label>
    <br/>
    <br/>
    <span>Set Point: <span id="set-point-display">{{.SetPoint}}</span></span><br/>
    <input type="range" id="set-point" min="60" max="80" value="" onInput="updateSetPointDisplay()" onChange="setPointChange()"/>
    <div id="temperature-holder">
      <span>Temperature: <span id="home-temperature">{{.Thermometer.Value.Value}}</span></span>
    </div>
    <a href="/gadgets/{{.Gadget.Id}}/chart-setup.html">chart setup</a>
  </form>
  <div class="m--1 g--12">
    <p>Usage:</p>
    <table class="g--10 card">
      <tr class="table-header">
        <td></td>
        <td>Day</td>
        <td>Month</td>
      </tr>
      {{ with .Usage }}
      {{ range . }}
      <tr>
        <td>{{.Name}}</td>
        <td>{{.Day}}</td>
        <td>{{.Month}}</td>
      </tr>
      {{ end }}
      {{ end }}
    </table>
  </div>
</div>
<script>
  {{template "base-js" .}}
  {{template "furnace-js" .}}
</script>
{{end}}
