{{define "content"}}
<div id="gadgets" class="container g--12">
  <div class="g--5">
    <span id="not-ready"></span>
    {{range $location, $devices := .Locations}}
    <div>{{ $location }} </div>
    <ul>
      {{ range $device := $devices }}
      {{ template "device" $device}}
      {{ end }}
    </ul>
    {{ end }}
  </div>
  {{template "method"}}
</div>
<script src="/js/underscore-min.js"></script>
<script>
  {{template "base-js" .}}  
  {{template "gadget-js" .}}
  {{template "method-js" .}}
</script>
{{end}}
