{{define "content"}}
<div class="m--1">
  <form id="user-form" action="/admin/users/new-user" method="post">
    <input id="username" type="text" name="username" required placeholder="Username"/>
    {{range .Permissions}}
    <input type="radio" name="permission" value="{{.}}"/>{{.}}<br/>
    {{end}}
    <input id="password" type="password" name="password" required placeholder="Password"/>
    <input id="password-confirm" type="password" name="password_confirm" required placeholder="Confirm Password"/>
    <div class="container">
      <button type="submit" class="btn--raised btn--green nudge--down">Save</button>
      <button type="submit" onClick="setAction('cancel')" class="btn--raised btn--green nudge--down">Cancel</button>
    </div>
  </form>
</div>
<script>
  {{template "edit-user-js" .}}
</script>
{{end}}
