{{define "content"}}
<div class="m--1">
  <h4>Change Password for {{.EditUser.Username}}</h4>
  <form id="user-form" action="/admin/users/{{.EditUser.Username}}/password" method="post">
    <input id="password" type="password" name="password" required placeholder="Password"/>
    <input id="password-confirm" type="password" name="password_confirm" required placeholder="Confirm Password"/>
    <div class="nudge--down">
      <button type="submit" class="btn--raised btn--green nudge--down">Save</button>
      <button type="submit" onClick="setAction('cancel')" class="btn--raised btn--green nudge--down">Cancel</button>
    </div>
  </form>
</div>
<script>
  {{template "edit-user-js" .}}
</script>
{{end}}
