
#links h4 a {
    text-decoration: none;
    background-image: none;
    font-size: large;
}

#login-error {
    color: red;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.on {
    color: green;
}

.off {
    color: red;
}

label{
    font-size:14px;
    vertical-align: middle;
}

input[type="radio"] {
    float:left;
}

#temperature-holder {
    padding-top: 10px;
}
