
#links h4 a {
    text-decoration: none;
    background-image: none;
    font-size: large;
}

#login-error {
    color: red;
}

.center {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.on {
    color: green;
}

.off {
    color: red;
}

label{
    font-size:14px;
    vertical-align: top;
    margin-left: 5px;
}

label.checkbox{
    font-size:14px;
    vertical-align: bottom;
    margin-left: 10px;
}

.buttons {
    margin-top: 10px;
}

.confirm {
    margin-top: 40px;
}

input[type="radio"] {
    float:left;
}

#temperature-holder {
    padding-top: 10px;
}

header {
    margin-bottom: 0px;
}

.toggle-holder {
    vertical-align: middle;
    margin-left: 10px;
}

.device {
    vertical-align: middle;
}

#chart svg {
    height: 600px;
    width: 100%;
}

#gadgets {
    margin-top: 0px;
    margin-left: 20px;
}

.complete {
    text-decoration: line-through;
    color: red;
}

.step {
    margin-top: 2px;
}

.confirm {
    margin-left: 5px;
    color: green;
}
