<div class="page">
  <p>
    <a href="#/gadgets">gadgets</a>
    <a href="#/gadgets/{{id}}">{{gadget.name}}</a>
    <a>history</a>
  </p>
  <nvd3-line-chart
     data="data"
     id="stats"
     showXAxis="true"
     showYAxis="true"
     tooltips="true"
     interactive="true"
     height="{{getHeight()}}"
     xAxisStaggerLabels="true"
     objectEquality="true"
     margin="{left:50,top:50,bottom:50,right:50}"
     xAxisTickFormat="getDate()">
    <svg></svg>
  </nvd3-line-chart>
  <hr></hr>
  <div layout="column">
    <div layout="row">
      <div flex></div>
      <div>
        <span ng-repeat="choice in choices">
          <a class="chart-link timespan" ng-click="addSource(choice)" ng-style="getSourceStyle(choice)">{{choice}}</a>
          <a class="chart-link" href="/api/gadgets/{{id}}/sources/{{choice}}/csv?start={{start}}&end={{end}}">csv</a>
        </span>
      </div>
      <div flex></div>
    </div>
    <div>
      <hr></hr>
    </div>
    <div layout="row">
      <div flex></div>
      <div>
        <a ng-repeat="name in spanLabels" ng-click="setSpan(name)" class="timespan" ng-style="getSpanStyle(name)">{{name}}</a>
      </div>
      <div flex></div>
    </div>
  </div>
</div>
