<div class="page" ng-show="gadget">
  <span ng-if="gadget.id">
    <a>Id:</a>
    <a>{{gadget.id}}<a/>
  </span>
  <md-input-container>
    <label>Name</label>
    <input auto-focus="" ng-model="gadget.name"/>
  </md-input-container>
  <md-input-container>
    <label>Address</label>
    <input ng-model="gadget.host"/>
  </md-input-container>
  <md-input-container>
    <label>View</label>
    <md-select ng-model="gadget.view">
      <md-option ng-value="i.name" ng-repeat="i in interfaces">{{ i.name }}</md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <md-checkbox ng-model="gadget.disabled" aria-label="Disabled">
      Disabled
    </md-checkbox>
  </md-input-container>
  <div layout="row">
    <span flex></span>
    <md-button aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
    <md-button aria-label="Save" ng-click="save()">Save</md-button>
    <md-button ng-if="gadget.id" aria-label="Save" ng-click="delete()">Delete</md-button>
  </div>
</div>
