<md-dialog aria-label="Really">
  <md-dialog-content>
    <div layout="column">
      <div flex></div>
      <div>
        <h3>Update Password</h3>
      </div>
      <div>
        <a>{{passwordError}}</a>
        <input type="hidden" autocomplete="username" value="{{username}}" name="username"/>
        <md-input-container>
          <label>Password</label>
          <input type="password" ng-model="password.first" autocomplete="new-password"/>
        </md-input-container>
        <md-input-container>
          <label>Confirm Password</label>
          <input type="password" ng-model="password.second" autocomplete="new-password"/>
        </md-input-container>
      </div>
      <div flex></div>
    </div>
    <div layout="row">
      <span flex></span>
      <md-button aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
      <md-button aria-label="Ok" ng-click="save()">Ok</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
