<md-dialog aria-label="Login">
  <md-dialog-content class="auth">
    <h3>Login</h3>
    <span ng-show="message">
      <a class="error-message">{{message}}</a><br/>
    </span>
    <md-input-container>
      <label>Username</label>
      <input auto-focus="" ng-model="user.username"/>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" ng-model="user.password" ng-enter="login()" id="login-password"/>
    </md-input-container>
    <md-input-container>
      <label>Google Authenticator Token</label>
      <input ng-model="user.tfa" ng-enter="login()" id="login-tfa-token"/>
    </md-input-container>
    <div layout="row">
      <span flex></span>
      <md-button aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
      <md-button aria-label="Ok" ng-click="login()">Ok</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
