<div>
  <md-toolbar>
    <div layout="row">
      <div class="navlinks md-toolbar-tools user-info">
        <a href="#/gadgets">gadgets</a>
        <span ng-repeat="link in links">
          <a href="{{link.href}}">{{link.name}}</a>
        </span>
      </div>
      <div flex></div>
      <div class="md-toolbar-tools user-info" flex="20">
        <span ng-show="loggedIn" class="navlinks">
          <a>Welcome <a href="" ng-click="showLogout()">{{user.username}}</a>
            <md-icon
               ng-show="user.permission=='admin'"
               class="settings"
               md-svg-src="/img/icons/ic_settings_white_18px.svg"
               md-font-icon="icon-settings"
               ng-class="md-hue-5"
               ng-click="admin()"
               aria-label="settings">
            </md-icon>
          </a>
        </span>
        <span ng-hide="loggedIn">
          <md-button ng-click="showLogin()">Login</md-button>
        </span>
      </div>
    </div>
  </md-toolbar>
</div>
