<div class="page">
  furnace
  <md-switch ng-model="locations.home.furnace.io.heat" aria-label="Heat" ng-change="change('heat')">
    Heat
  </md-switch>
  <md-switch ng-model="locations.home.furnace.io.cool" aria-label="Cool" ng-change="change('cool')">
    Cool
  </md-switch>
  <md-switch ng-model="locations.home.furnace.io.fan" aria-label="Fan" ng-change="change(fan')">
    Fan
  </md-switch>
  <div>
    <a ng-click="showHistory('home', 'temperature')" class="graph-link">temperature: {{locations.home.temperature.value | number : 1}}</a>
  </div>
</div>
