<div class="furnace">
  <div layout="column" >
    <div flex>
      <md-radio-group ng-model="mode" ng-change="change()">
        <md-radio-button value="off" class="md-primary">off</md-radio-button>
        <md-radio-button ng-style="{ 'color': (value.io.heat | ioColor) }" value="heat">heat</md-radio-button>
        <md-radio-button ng-style="{ 'color': (value.io.cool | ioColor) }" value="cool">cool</md-radio-button>
      </md-radio-group>
    </div>
    <div flex>
      <md-slider-container flex=20>
        <span>Set Point: {{target}}<span/>
          <md-slider aria-label="set temperature" ng-model="target" min="60" max="80" drag-end="{{doneSliding}}"></md-slider>
      </md-slider-container>
    </div>
    <div>
      <a ng-click="showHistory('home', 'temperature')" class="graph-link">Temperature: {{temperature | number : 1}}</a>
    </div>
  </div>
</div>
