<div class="page">
  <h3>{{label}} <a href="/#/gadgets/{{id}}">back</a></h3>
  <nvd3-line-chart
     data="data"
     id="stats"
     height="400"
     showXAxis="true"
     showYAxis="true"
     tooltips="true"
     xAxisStaggerLabels="true"
     margin="{left:50,top:50,bottom:50,right:50}"
     xAxisTickFormat="getDate()">
    <svg></svg>
  </nvd3-line-chart>
  <div layout="row">
    <span flex></span>
    <span>
      <a ng-repeat="span in spans track by $index" ng-click="getData($index)" class="timespan" ng-style="getSelectedStyle($index)">{{span.name}}</a>
    </span>
    <span flex></span>
</div>
