<md-dialog aria-label="Args">
  <md-dialog-content>
    <md-input-container ng-hide="command">
      <md-select ng-model="command" placeholder="Select a command">
        <md-option ng-value="cmd" ng-repeat="cmd in commands">{{ cmd }}</md-option>
      </md-select>
    </md-input-container>
    <md-input-container ng-show="command">
      <label>{{command}}</label>
      <input auto-focus="" ng-model="args"/>
    </md-input-container>
    <div layout="row">
      <span flex></span>
      <md-button aria-label="Cancel" ng-click="cancel()">Cancel</md-button>
      <md-button aria-label="Ok" ng-click="send()">Send</md-button>
    </div>
  </md-dialog-content>
</md-dialog>
